@model SIMS_ASM.Models.Course

@{
    ViewData["Title"] = "Edit Course";
}

<h2>Edit Course</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="CourseEdit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="CourseID" />

    <div class="form-group">
        <label asp-for="CourseName" class="control-label"></label>
        <input asp-for="CourseName" class="form-control" />
        <span asp-validation-for="CourseName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MajorID" class="control-label">Major</label>
        <select asp-for="MajorID" class="form-control" asp-items="@(new SelectList(ViewBag.Majors, "MajorID", "MajorName"))">
            <option value="">Select a Major</option>
        </select>
        <span asp-validation-for="MajorID" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}