@model List<SIMS_ASM.Models.Grade>

@{
    ViewData["Title"] = "Lecturer Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lecturer Dashboard</h2>

<p>Welcome, Lecturer!</p>

<h3>Lecturer</h3>
<table class="table">
    <thead>
        <tr>
            <th>Lecturer</th>
            <th>Course</th>
            <th>Grade</th>
            <th>Action</th>
        </tr>
    </thead>
    @* <tbody> *@
    @*     @foreach (var grade in Model) *@
    @*     { *@
    @*         <tr> *@
    @*             <td>@grade.User?.Username</td> *@
    @*             <td>@grade.Course?.CourseName</td> *@
    @*             <td>@grade.GradeValue</td> *@
    @*             <td> *@
    @*                 <a asp-controller="Grade" asp-action="EditGrade" asp-route-id="@grade.GradeID" class="btn btn-sm btn-primary">Update</a> *@
    @*             </td> *@
    @*         </tr> *@
    @*     } *@
    @* </tbody> *@
</table>

<a asp-controller="Grade" asp-action="Index" class="btn btn-primary">Manage Grades</a>