@model SIMS_ASM.Models.Grade

@{
    ViewData["Title"] = "Add Grade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Grade</h2>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}