@model SIMS_ASM.Models.Grade

@{
    ViewData["Title"] = "Edit Grade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Grade</h2>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}