@model List<SIMS_ASM.Models.Grade>

@{
    ViewData["Title"] = "Grade Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userRole = Context.Session.GetString("Role");
}

<h2>Grade Management</h2>

