.card-header {
    padding: 1rem 1.5rem;
}

/* Hide default DataTables controls */
.dataTables_length,
.dataTables_filter {
    display: none;
}

.btn-group-sm .btn {
    padding: 0.25rem 0.5rem;
}

#resetFiltersBtn {
    height: 100%;
    white-space: nowrap;
}

.form-select,
#resetFiltersBtn {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
}
