@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    @* <a asp-controller="Account" asp-action="Login">Login</a> *@
    
    @* <a asp-controller="Account" asp-action="Register">Register</a> *@

    <a asp-controller="Account" asp-action="Index">Login/Register</a>

</div>

