@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Account" asp-action="Login">Login</a>
    
    <a asp-controller="Account" asp-action="Register">Register</a>
</div>
